@import url(./styles/result.css);
@import url(./styles/summary.css);

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-white-t: hsla(0, 0%, 100%, 0.301);
    --color-black-t: hsla(0, 0%, 0%, 0.322);
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --Font-size-paragraph: 18px;
    --font-family-Hanken: 'Hanken Grotesk', sans-serif;
    --font-weight-5: 500;
    --font-weight-7: 700;
    --font-weight-8: 800;
  }

  body{
    font-family: var(--font-family-Hanken);
  }

  .section__sumarry-component{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }

  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }